.tictactoe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.activity-board-container {
  position: fixed;
  top: 20px;
  right: 20px;
}
